# **import libraries**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.preprocessing

# **read dataframe**

In [3]:
movie_df = pd.read_csv("movie_dataset.csv")
movie_df.head(4)
movie_df.sample(2)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
121,https://m.media-amazon.com/images/M/MV5BZmM0NG...,Ikiru,1952,NaN,143 min,Drama,8.3,A bureaucrat tries to find a meaning in his li...,NaN,Akira Kurosawa,Takashi Shimura,Nobuo Kaneko,Shin'ichi Himori,Haruo Tanaka,68463,"55,240"
335,https://m.media-amazon.com/images/M/MV5BMTQ1ND...,Special Chabbis,2013,UA,144 min,"Crime, Drama, Thriller",8.0,A gang of con-men rob prominent rich businessm...,NaN,Neeraj Pandey,Akshay Kumar,Anupam Kher,Manoj Bajpayee,Jimmy Sheirgill,51069,"1,079,369"

# **some information of dataframe**

In [4]:
movie_df.info()
print("\n\n\n")

#each column size
for i in movie_df.columns:
  print(f"size of column {i} :{movie_df[i].size}")

movie_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB




size of column Poster_Link :1000
size of column Series_Title :1000
size of column Released_Year :1000
size of column Certificate :1000
size of column Runtime :1000
size of column Genre :1000
size of column IMDB_Rating :1000
size of column Overview :1000
size of column Meta_score :1000
size of column Director :1000
size of column Star1 :1000
size of column Star2 :1000
size of column Star3 :1000
size of column Star4 :1000
size of column No_of_Votes :1000
size of column Gross :1000

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

# **save describe in a dataframe**

In [5]:
describe_df = movie_df.describe()
describe_df['IMDB_Rating']['mean']

np.float64(7.949299999999999)

# **shape and index and ....**

In [6]:
print("shape =",movie_df.shape)
print("index =",movie_df.index)

shape = (1000, 16)
index = RangeIndex(start=0, stop=1000, step=1)

# **nan data for each column**

In [7]:
movie_df.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

# **number of rows (sample)**

In [8]:
len(movie_df)
movie_df.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

# delete nan data for column meta_score if ratio was less than 5 percent

In [9]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [10]:
nan_ratio = movie_df['Meta_score'].isna().sum() / len(movie_df) *100
print("ration = ", nan_ratio)

# if ratio less than 5 drope nan data
if nan_ratio <= 5:
    movie_df.dropna(subset=['Meta_score'], inplace=True)

# if ratio greater than 5 fill nan data with mean
else:
    print("mean of meta score =",movie_df['Meta_score'].mean())
    movie_df['Meta_score'].fillna(movie_df['Meta_score'].mean(),inplace=True)

ration =  15.7
mean of meta score = 77.97153024911032

C:\Users\Heram\AppData\Local\Temp\ipykernel_11836\2602950268.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_df['Meta_score'].fillna(movie_df['Meta_score'].mean(),inplace=True)

convert gross column to numeric

In [11]:
#remove , 
movie_df['Gross'] = movie_df['Gross'].str.replace(',', '') 
movie_df['Gross'] = pd.to_numeric(movie_df['Gross'], errors='coerce')

# **check column certificate**

In [12]:
movie_df['Certificate'].isna().sum()

nan_ratio = movie_df['Certificate'].isna().sum() / len(movie_df) *100
print("ration = ", nan_ratio)

# if ratio less than 5 drope nan data
if nan_ratio <= 5:
    movie_df.dropna(subset=['Certificate'], inplace=True)

# if ratio greater than 5 fill nan data with no certificate
else:
    movie_df['Certificate'].fillna("no certificate",inplace=True)

ration =  10.100000000000001

C:\Users\Heram\AppData\Local\Temp\ipykernel_11836\1326908864.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_df['Certificate'].fillna("no certificate",inplace=True)

# **computing upper and lower bond for outlier**

In [13]:
upper_b = movie_df['IMDB_Rating'].std()*2 + movie_df['IMDB_Rating'].mean()
lower_b = movie_df['IMDB_Rating'].mean() - movie_df['IMDB_Rating'].std()*2

# **if outlier was greater than 5% inccrees range of outlire , else drope it**

In [14]:
outlier = movie_df['IMDB_Rating'].where((movie_df['IMDB_Rating'] < lower_b)|(movie_df['IMDB_Rating']> upper_b)).sum()
outlier_ratio = (outlier / movie_df['IMDB_Rating'].size) *100
outlier_ratio

np.float64(28.870000000000008)

# get numeric type to runtime column

In [15]:
# remove 'min' from column runtime
# movie_df['Runtime'] = movie_df['Runtime'].str.replace('min', '').str.strip()
#convert to numeric type
movie_df['Runtime'] = pd.to_numeric(movie_df['Runtime'], errors='coerce')
movie_df['Runtime'].mean()

nan

# computing outlire range for run time

In [16]:
upper_b = movie_df['Runtime'].std()*2 + movie_df['Runtime'].mean()
lower_b = movie_df['Runtime'].mean() - movie_df['Runtime'].std()*2

outlier = movie_df['Runtime'].where((movie_df['Runtime'] < lower_b)|(movie_df['Runtime']> upper_b)).count()
outlier_ratio = (outlier / movie_df['IMDB_Rating'].size) *100
outlier_ratio

np.float64(0.0)

# remove rumtime outlier because less than 5%

In [17]:

condition = (movie_df['Runtime'] < lower_b) | (movie_df['Runtime'] > upper_b)
movie_df = movie_df[~condition]
len(movie_df)

1000

# ouylier for Meta_score and check condition

In [18]:
upper_b = movie_df['Meta_score'].std()*2 + movie_df['Meta_score'].mean()
lower_b = movie_df['Meta_score'].mean() - movie_df['Meta_score'].std()*2

outlier = movie_df['Meta_score'].where((movie_df['Meta_score'] < lower_b)|(movie_df['Meta_score']> upper_b)).count()
outlier_ratio = (outlier / movie_df['Meta_score'].size) *100
outlier_ratio

if outlier_ratio < 5 :
    condition = (movie_df['Meta_score'] < lower_b) | (movie_df['Meta_score'] > upper_b)
    movie_df = movie_df[~condition]
len(movie_df)

958

# **check imdb rate range**

In [19]:
movie_df = movie_df[(movie_df['IMDB_Rating'] >= 1.0) & (movie_df['IMDB_Rating'] <= 10.0)]

# **saving clean movie_df  (cleaned dataframe)**

In [20]:
movie_df.to_csv('clean_movies.csv', index=False, encoding='utf-8')