# **import libraries**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.preprocessing

# **read dataframe**

In [3]:
movie_df = pd.read_csv("movie_dataset.csv")
movie_df.head(4)
movie_df.sample(2)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
822,https://m.media-amazon.com/images/M/MV5BZjVkYm...,Kurenai no buta,1992,U,94 min,"Animation, Adventure, Comedy",7.7,"In 1930s Italy, a veteran World War I pilot is...",83.0,Hayao Miyazaki,Shûichirô Moriyama,Tokiko Katô,Bunshi Katsura Vi,Tsunehiko Kamijô,77798,NaN
952,https://m.media-amazon.com/images/M/MV5BMTA3OT...,The Hurricane,1999,R,146 min,"Biography, Drama, Sport",7.6,"The story of Rubin 'Hurricane' Carter, a boxer...",74.0,Norman Jewison,Denzel Washington,Vicellous Shannon,Deborah Kara Unger,Liev Schreiber,91557,"50,668,906"

# **some information of dataframe**

In [4]:
movie_df.info()
print("\n\n\n")

#each column size
for i in movie_df.columns:
  print(f"size of column {i} :{movie_df[i].size}")

movie_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB




size of column Poster_Link :1000
size of column Series_Title :1000
size of column Released_Year :1000
size of column Certificate :1000
size of column Runtime :1000
size of column Genre :1000
size of column IMDB_Rating :1000
size of column Overview :1000
size of column Meta_score :1000
size of column Director :1000
size of column Star1 :1000
size of column Star2 :1000
size of column Star3 :1000
size of column Star4 :1000
size of column No_of_Votes :1000
size of column Gross :1000

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

# **save describe in a dataframe**

In [5]:
describe_df = movie_df.describe()
describe_df['IMDB_Rating']['mean']

np.float64(7.949299999999999)

# **shape and index and ....**

In [6]:
print("shape =",movie_df.shape)
print("index =",movie_df.index)

shape = (1000, 16)
index = RangeIndex(start=0, stop=1000, step=1)

# **nan data for each column**

In [9]:
movie_df.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

# **number of rows (sample)**

In [23]:
len(movie_df)

1000